*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.container{
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
input{
  width: calc( 100% - 32px);
  margin: 16px;
  line-height: 20px;
  padding: 10px 16px;  
  font-size: 14px;
  border-radius: 2px;
  outline: none;
  border:1px solid #999;
}
input:focus{
  border:1px solid teal;
  outline: none;
  box-shadow:  0px 0px 3px teal;
}
form{
  text-align: center;
  margin-top: 32px;
}
body{
  font-family: Roboto, sans-serif;
}
.status{
  float: right;
  color:#ccc;
}
.status:hover{
  color: teal;
  cursor:pointer;
}
ul{
  font-size:0;
  margin :24px 0;
  width: calc( 100% - 32px);
  border: 1px solid #ccc;
  border-radius: 4px;
}
li{
  font-size: 14px;
  word-wrap: break-word;
  list-style-type: circle;
  list-style-position: inside;
  border-bottom: 1px solid #ccc;
  padding:12px 16px;
}
h2{
  color: #222;
  font-size: 18px;
  margin: 8px 0;
}
